/*200 Status Codes*/
.circle200{
  background-color:green;
  display:block;
  height:20px;
  width:20px;
  border-radius:50%;
  margin:auto;
  color: green;
  line-height:50px;
  text-align:center
}

.circle201{
  background-color:green;
  display:block;
  height:20px;
  width:20px;
  border-radius:50%;
  margin:auto;
  color: green;
  line-height:50px;
  text-align:center
}

.circle204{
  background-color:green;
  display:block;
  height:20px;
  width:20px;
  border-radius:50%;
  margin:auto;
  color: green;
  line-height:50px;
  text-align:center
}

/*400 Status Codes*/
.circle400{
  background-color:red;
  display:block;
  height:20px;
  width:20px;
  border-radius:50%;
  margin:auto;
  color: red;
  line-height:50px;
  text-align:center
}

.circle401{
  background-color:red;
  display:block;
  height:20px;
  width:20px;
  border-radius:50%;
  margin:auto;
  color: red;
  line-height:50px;
  text-align:center
}

.circle403{
  background-color:red;
  display:block;
  height:20px;
  width:20px;
  border-radius:50%;
  margin:auto;
  color: red;
  line-height:50px;
  text-align:center
}

.circle404{
  background-color:red;
  display:block;
  height:20px;
  width:20px;
  border-radius:50%;
  margin:auto;
  color: red;
  line-height:50px;
  text-align:center
}

.circle405{
  background-color:red;
  display:block;
  height:20px;
  width:20px;
  border-radius:50%;
  margin:auto;
  color: red;
  line-height:50px;
  text-align:center
}

.circle409{
  background-color:red;
  display:block;
  height:20px;
  width:20px;
  border-radius:50%;
  margin:auto;
  color: red;
  line-height:50px;
  text-align:center
}

.circle500{
  background-color:red;
  display:block;
  height:20px;
  width:20px;
  border-radius:50%;
  margin:auto;
  color: red;
  line-height:50px;
  text-align:center
}

.circle503{
  background-color:red;
  display:block;
  height:20px;
  width:20px;
  border-radius:50%;
  margin:auto;
  color: red;
  line-height:50px;
  text-align:center
}

.circleNone{
  background-color:orange;
  display:block;
  height:20px;
  width:20px;
  border-radius:50%;
  margin:auto;
  color: green;
  line-height:50px;
  text-align:center
}

.apiBlock {
  font-size: large;
  position: relative;
  top: -30px;
  right: -15px;
}

#output {
  border: 1px solid black;
  font-family: sans-serif;
  margin-top: 20px;
}


table, th, td {
  border: 1px solid black;
  font-weight: 900;
  text-align:center
}

table {
  border-collapse:separate;
  border-spacing:2px;
}

.myselect {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.myselect option {
  white-space: nowrap;
  width: 100%; border-bottom: 1px #ccc solid;
  /* This doesn't work. */
}

