{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <h1 style="font-family: Ebrima; text-decoration: underline; padding-bottom: 20px;">  API Dashboard: </h1>

    <table style="width:50%">
        <tr>
            <th style="background-color: lightgreen">Status</th>
            <th style="background-color: lightgreen">Name</th>
            <th style="background-color: lightgreen">Status Code</th>
        </tr>
                    {% for api in apis %}

        <tr">
            <td>
                    <span class="circle{{api.status.statusCode}}"></span>
            </td>
            <td>
                {{ requestname }} <br>
                {{ api.request.requestName }} shows a status code of: <br>
                <details>
                    <summary style="cursor: pointer; color: blue; font-weight: bold;"> Expand to see response: </summary>
                    <p> {{ response }} </p>
                </details>
                <br> {{ responsecode }}
            </td>
            <td>
                {{ api.status.statusCode }}
            </td>
        </tr>
            {% endfor %}
    </table>

{% endblock %}